<!DOCTYPE html>
<html>
<head>
    <script src="/socket.io/socket.io.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/javascripts/dashboard.js"></script>
    <script type="module" src="/javascripts/indexed_database.js"></script>
    <script src="/javascripts/canvas.js"></script>
    <script src="/javascripts/camera.js"></script>
</head>

<div id="initial_form" style="display: block">
    <h1>Welcome, <%= name %> !</h1>
    <p>Please insert the id of the Room you want to Join, if you do not have a room id, click Generate Room</p>
    <form onsubmit="return false;">
        <p>
            <label for="roomNo"> Your room </label>
            <input type="text" id="roomNo" name="roomNo">
            <button id="roomNoGenerator" onclick="generateRoom()">Generate Room</button>
        </p>
        <p style=" width: 100%"><label for="image_url"> Image (URL) </label><input type="text" id="image_url" name="image_url"></p>
        <button id="connect" onclick="connectToRoom()">Connect</button>
        <button id="takePicture" onclick="setupCamera()">Take Picture Instead</button>
    </form>
</div>
<div id="chat_interface" style="display: none">
    <div>
        <p><div id="who_you_are" style="display: inline" style="height: 10vh"></div>, you are in room: <div id="in_room" style="display: inline"></div>
    </div>
    </p>
    <div style="height: 50%; ">
        <img id="image" style="width: 20%;">
        <canvas  id="canvas"></canvas><br>
        <button id="download_button" onclick="downloadDrawing()">Download</button>
        <button id="canvas-clear">Clear Canvas</button>
    </div>
    <!--    </div>-->
    <div id="history" style="height: 35vh" class="boxed scrolling" ></div>
    <div id="input" style="height: 5vh" class=" boxed">
        <form onsubmit="return false;" style="width: 100%">
            <p>
                <label for="name"> chat: </label>
                <input type="text" id="chat_input" name="chat_input" style="width: 80%">
                <button id="chat_send" onclick="sendChatText()">Send</button>

            </p>
        </form>
    </div>


</div><br><br>
<!-- DIV CAMERA -->
<div id="cameraInterface" style="display: none">
    <div>
        <button onclick="closeCamera()">Close Camera</button>
        <button id="retake" style="display: none">Retake</button>
        <button id="confirm" style="display: none" onclick="uploadTakenImage()">Confirm and connect</button>
    </div><br>
    <div class="camera" >
        <video id="video">Video stream not available.</video>
        <button id="shutter">Take photo</button>
    </div>
    <canvas id="preview">
    </canvas>
    <div id="output">
        <img id="photoTaken" alt="photo will appear here">
    </div>
</div>
</body>
</html>
