<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/javascripts/index.js"></script>
    <script src="/javascripts/ajax.js"></script>
</head>
<body>
<div id="initial_form" style="display: block">
    <h1><%= title %></h1>
    <form onsubmit="return false;">
        <p><label for="name"> What's your name? </label>
            <input type="text" id="name" name="name">
        </p>
        <button id="Enter" onclick="enterSystem()">Enter System</button>
    </form>
</div>
</body>
</html>
