<!DOCTYPE html>
<html>
<head>
    <script src="/socket.io/socket.io.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href="/stylesheets/bootstrap.css"/>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.bundle.js"></script>
    <script src="/javascripts/room.js"></script>
    <script src="/javascripts/dashboard.js"></script>
    <script type="module" src="/javascripts/indexed_database.js"></script>
    <script src="/javascripts/canvas.js"></script>
    <script src="/javascripts/camera.js"></script>
    <script src="/javascripts/ajax.js"></script>
    <script type="module" src="/javascripts/annotations.js"></script>
    <script type="module" src="/javascripts/utils.js"></script>
    <!--  Google Knowledge Graph Widget -->
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/knowledge/kgsearch/widget/1.0/widget.min.css">
    <script type="text/javascript" src="https://www.gstatic.com/knowledge/kgsearch/widget/1.0/widget.min.js"></script>
</head>
<body onload="init()">
    <div id="initial_form" style="display: block">
        <!--  Banner  -->
        <div class="jumbotron">
            <h1 id="nameTitle" class="display-4">Welcome, </h1>
            <p>Please insert the ID of the room you want to join, if you do not have a room ID, create a new one!</p>
            <button class="btn btn-secondary" onclick="logOut()">Log out</button>
        </div>

        <div class="row">
            <div class="col">
                <!--  Checkbox  -->
                <div id="checkboxContainer">
                    <input type="checkbox" id="box-1" onclick="toggleFormFields()">
                    <label for="box-1" class="form-label">Joining an existing room</label>
                </div>
                <!--    Create/join room form    -->
                <form id="enter-join-form" onsubmit="return false;">
                    <label for="roomNo" class="form-label"> Your room </label>
                    <div class="row mb-3">
                        <div class="col">
                            <input type="text" id="roomNo" name="roomID" class="form-control">
                        </div>
                        <div class="col-auto">
                            <button id="roomNoGenerator" onclick="generateRoom()" class="btn btn-secondary">Generate Room</button>
                        </div>
                    </div>
                    <label for="image_url" class="form-label"> Image (URL) </label>
                    <div class="row mb-3">
                        <div class="col-lg col-sm-12">
                            <input type="text" id="image_url" name="imageSrc" class="form-control">
                        </div>
                        <div class="col-auto text-center">
                            <input id="img_upload" type="file" accept="image/jpeg, image/png" onchange="uploadImg(img_upload.files[0], 'image_url')" style="display: none;">
                            <button id="img_upload_btn" onclick="document.getElementById('img_upload').click()" class="btn btn-secondary">Upload</button>
                        </div>
                        <div class="col-auto text-center">
                            <button id="takePicture" data-toggle="modal" data-target="#cameraModal" onclick="setupCamera(false)" class="btn btn-secondary">Take Picture</button>
                        </div>
                        <div class="col-auto text-center">
                            <button id="pickImage" data-toggle="modal" data-target="#imageSelectorModal" onclick="getMongoImages()" class="btn btn-secondary">Select from uploaded images</button>
                        </div>
                    </div>

                    <!-- Image title -->
                    <div class="mb-3">
                        <label class="form-label">Image title</label>
                        <input id="img_title" name="imageTitle" class="form-control">
                    </div>

                    <!-- Image description -->
                    <div class="mb-3">
                        <label class="form-label">Image description</label>
                        <textarea id="img_description" name="imageDescription" class="form-control" aria-label="Image description"></textarea>
                    </div>

                    <button id="connect" onclick="sendFormData('enter-join-form')" class="btn btn-primary">Connect</button>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="20" fill="currentColor" class="bi bi-wifi-off" viewBox="0 0 16 16" id="offlineIcon" style="display: none">
                        <path d="M10.706 3.294A12.546 12.546 0 0 0 8 3 12.44 12.44 0 0 0 .663 5.379a.485.485 0 0 0-.048.736.518.518 0 0 0 .668.05A11.448 11.448 0 0 1 8 4c.63 0 1.249.05 1.852.148l.854-.854zM8 6c-1.905 0-3.68.56-5.166 1.526a.48.48 0 0 0-.063.745.525.525 0 0 0 .652.065 8.448 8.448 0 0 1 3.51-1.27L8 6zm2.596 1.404l.785-.785c.63.24 1.228.545 1.785.907a.482.482 0 0 1 .063.745.525.525 0 0 1-.652.065 8.462 8.462 0 0 0-1.98-.932zM8 10l.934-.933a6.454 6.454 0 0 1 2.012.637c.285.145.326.524.1.75l-.015.015a.532.532 0 0 1-.611.09A5.478 5.478 0 0 0 8 10zm4.905-4.905l.747-.747c.59.3 1.153.645 1.685 1.03a.485.485 0 0 1 .048.737.518.518 0 0 1-.668.05 11.496 11.496 0 0 0-1.812-1.07zM9.02 11.78c.238.14.236.464.04.66l-.706.706a.5.5 0 0 1-.708 0l-.707-.707c-.195-.195-.197-.518.04-.66A1.99 1.99 0 0 1 8 11.5c.373 0 .722.102 1.02.28zm4.355-9.905a.53.53 0 1 1 .75.75l-10.75 10.75a.53.53 0 0 1-.75-.75l10.75-10.75z"/>
                    </svg>
                </form>
            </div>
        </div>


        <!--   Room tiles     -->
        <div id="roomTileList" class="row"></div>
    </div>

    <!-- #####################CHAT INTERFACE#################### -->
    <div id="chat_interface" style="display: none;">
        <nav class="navbar navbar-light navbar-expand-md navigation-clean">
            <div class=""container>
                <div id="who_you_are" style="display: inline" style="height: 10vh"></div>, you are in room: <div id="in_room" style="display: inline"></div>
                <button id="leave_room" onclick="disconnectFromRoom()" class="btn btn-primary">Leave Room</button>
            </div>


        </nav>


        <div class="container" >
            <div class="row">

                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <img id="image" class="w-100">
                            <canvas id="canvas"></canvas><br>
                        </div>

                        <div class="container">
                        <div class="row">
                            <div id="colourDropdown" class="dropdown col text-center">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="color-palette-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-brush" viewBox="0 0 16 16">
                                        <path d="M15.825.12a.5.5 0 0 1 .132.584c-1.53 3.43-4.743 8.17-7.095 10.64a6.067 6.067 0 0 1-2.373 1.534c-.018.227-.06.538-.16.868-.201.659-.667 1.479-1.708 1.74a8.118 8.118 0 0 1-3.078.132 3.659 3.659 0 0 1-.562-.135 1.382 1.382 0 0 1-.466-.247.714.714 0 0 1-.204-.288.622.622 0 0 1 .004-.443c.095-.245.316-.38.461-.452.394-.197.625-.453.867-.826.095-.144.184-.297.287-.472l.117-.198c.151-.255.326-.54.546-.848.528-.739 1.201-.925 1.746-.896.126.007.243.025.348.048.062-.172.142-.38.238-.608.261-.619.658-1.419 1.187-2.069 2.176-2.67 6.18-6.206 9.117-8.104a.5.5 0 0 1 .596.04zM4.705 11.912a1.23 1.23 0 0 0-.419-.1c-.246-.013-.573.05-.879.479-.197.275-.355.532-.5.777l-.105.177c-.106.181-.213.362-.32.528a3.39 3.39 0 0 1-.76.861c.69.112 1.736.111 2.657-.12.559-.139.843-.569.993-1.06a3.122 3.122 0 0 0 .126-.75l-.793-.792zm1.44.026c.12-.04.277-.1.458-.183a5.068 5.068 0 0 0 1.535-1.1c1.9-1.996 4.412-5.57 6.052-8.631-2.59 1.927-5.566 4.66-7.302 6.792-.442.543-.795 1.243-1.042 1.826-.121.288-.214.54-.275.72v.001l.575.575zm-4.973 3.04.007-.005a.031.031 0 0 1-.007.004zm3.582-3.043.002.001h-.002z"/>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-palette" viewBox="0 0 16 16">
                                        <path d="M8 5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zm4 3a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zM5.5 7a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm.5 6a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
                                        <path d="M16 8c0 3.15-1.866 2.585-3.567 2.07C11.42 9.763 10.465 9.473 10 10c-.603.683-.475 1.819-.351 2.92C9.826 14.495 9.996 16 8 16a8 8 0 1 1 8-8zm-8 7c.611 0 .654-.171.655-.176.078-.146.124-.464.07-1.119-.014-.168-.037-.37-.061-.591-.052-.464-.112-1.005-.118-1.462-.01-.707.083-1.61.704-2.314.369-.417.845-.578 1.272-.618.404-.038.812.026 1.16.104.343.077.702.186 1.025.284l.028.008c.346.105.658.199.953.266.653.148.904.083.991.024C14.717 9.38 15 9.161 15 8a7 7 0 1 0-7 7z"/>
                                    </svg>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="color-palette-dropdown">
                                    <ul class="list-inline">
                                        <li class="dropdown-item" id='pink-box' >
                                            <div class="col-xs-6 col-sm-4 col-md-2 pink square"></div>
                                        </li>
                                        <li class="dropdown-item" id='blue-box'>
                                            <div class="col-xs-6 col-sm-4 col-md-2 blue square"></div>
                                        </li>
                                        <li class="dropdown-item" id='red-box'>
                                            <div class="col-xs-6 col-sm-4 col-md-2 red square"></div>
                                        </li>
                                        <li class="dropdown-item" id='orange-box'>
                                            <div class="col-xs-6 col-sm-4 col-md-2 orange square"></div>
                                        </li>
                                        <li class="dropdown-item" id='green-box'>
                                            <div class="col-xs-6 col-sm-4 col-md-2 green square"></div>
                                        </li>
                                        <li class="dropdown-item" id='white-box'>
                                            <div class="col-xs-6 col-sm-4 col-md-2 white square border"></div>
                                        </li>
                                        <li class="dropdown-item" id='black-box'>
                                            <div class="col-xs-6 col-sm-4 col-md-2 black square"></div>
                                        </li>
                                        <li class="dropdown-item" id='yellow-box'>
                                            <div class="col-xs-6 col-sm-4 col-md-2 yellow square"></div>
                                        </li>
                                    </ul>
                                </ul>
                            </div>

                            <div class="col text-center">
                                <button id="download_button" onclick="downloadDrawing()" class="btn btn-secondary">Download</button>
                            </div>


                        </div>
                        </div>
                        <br>

                        <!--  Second button row  -->
                        <div class="container">
                            <div class="row">
                                <div class="col text-center">
                                    <button id="canvas-clear" class="btn btn-secondary">Clear Canvas</button>
                                </div>
                                <div class="col text-center">
                                    <button id="annotationToggle" data-toggle="modal" data-target="#kgModal" class="btn btn-secondary" onclick="annotationCanvasInit()">Add Annotations</button>
                                </div>
                            </div>
                        </div>

                        <br>
                        <div id="smallDropdown" class="dropdown m-auto" >
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="create-room-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="fillRoomNo('roomNoDD')">Create new room link</button>
                            <div id="smallDropdownMenu" class="dropdown-menu">
                                <button type="button" class="close mr-3" data-toggle="dropdown" data-target="#smallDropdown" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <form id="dropdown-create-room" class="px-4 py-3" onsubmit="return false;">
                                    <div class="form-group">
                                        <label for="roomNoDD">Room Name</label>
                                        <input type="text" class="form-control" id="roomNoDD" name="roomID" readonly>
                                    </div>
                                    <div class="form-group">
                                        <label for="new_image_url">Image Url</label>
                                        <input type="text" class="form-control mb-3" id="new_image_url" name="imageSrc">
                                        <div class="row">
                                            <div class="col-auto">
                                                <button id="takePictureSmall" data-toggle="modal" data-target="#cameraModal" onclick="setupCamera(true)" class="btn btn-secondary">Take Picture</button>
                                            </div>
                                            <div class="col">
                                                <input id="img_upload_small" type="file" accept="image/jpeg, image/png" onchange="uploadImg(img_upload_small.files[0], 'new_image_url')" style="display: none;">
                                                <button onclick="document.getElementById('img_upload_small').click()" class="btn btn-secondary">Upload</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="new_img_title">Image Title</label>
                                        <input type="text" class="form-control" id="new_img_title" name="imageTitle">
                                    </div>
                                    <div class="form-group">
                                        <label for="new_img_title">Image Description</label>
                                        <textarea type="text" class="form-control" id="new_img_desc" name="imageDescription"></textarea>
                                    </div>
                                    <button id="create_room_link" onclick="generateRoomLink('dropdown-create-room')" class="btn btn-primary">Generate room link</button>
                                </form>
                            </div>
                        </div>
                        <br>
                    </div>
                    <div id="annotationList" class="boxed scrolling" style="display: none"></div>
                </div>

                <div class="col-md-6">
                    <div id="history" class="boxed scrolling card" ></div>
                    <div id="input" class="boxed">
                        <form onsubmit="return false;" style="width: 100%">
                            <p>
                                <input type="text" id="chat_input" name="chat_input" >
                                <button id="chat_send" onclick="sendChatText(chat_input.value)" class="btn btn-primary">Send</button>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="20" fill="currentColor" class="bi bi-wifi-off" viewBox="0 0 16 16" id="offlineIcon" style="display: none">
                                    <path d="M10.706 3.294A12.546 12.546 0 0 0 8 3 12.44 12.44 0 0 0 .663 5.379a.485.485 0 0 0-.048.736.518.518 0 0 0 .668.05A11.448 11.448 0 0 1 8 4c.63 0 1.249.05 1.852.148l.854-.854zM8 6c-1.905 0-3.68.56-5.166 1.526a.48.48 0 0 0-.063.745.525.525 0 0 0 .652.065 8.448 8.448 0 0 1 3.51-1.27L8 6zm2.596 1.404l.785-.785c.63.24 1.228.545 1.785.907a.482.482 0 0 1 .063.745.525.525 0 0 1-.652.065 8.462 8.462 0 0 0-1.98-.932zM8 10l.934-.933a6.454 6.454 0 0 1 2.012.637c.285.145.326.524.1.75l-.015.015a.532.532 0 0 1-.611.09A5.478 5.478 0 0 0 8 10zm4.905-4.905l.747-.747c.59.3 1.153.645 1.685 1.03a.485.485 0 0 1 .048.737.518.518 0 0 1-.668.05 11.496 11.496 0 0 0-1.812-1.07zM9.02 11.78c.238.14.236.464.04.66l-.706.706a.5.5 0 0 1-.708 0l-.707-.707c-.195-.195-.197-.518.04-.66A1.99 1.99 0 0 1 8 11.5c.373 0 .722.102 1.02.28zm4.355-9.905a.53.53 0 1 1 .75.75l-10.75 10.75a.53.53 0 0 1-.75-.75l10.75-10.75z"/>
                                </svg>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ######################MODALS############################ -->

    <!--  Camera Modal  -->
    <div class="modal fade" id="cameraModal" tabindex="-1" role="dialog" aria-labelledby="cameraModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cameraModalLongTitle">Camera</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeCamera()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- DIV CAMERA -->
                    <div id="cameraInterface" style="display: none" class="mb-3">
                        <!-- Camera -->
                        <div class="camera" >
                            <video id="video">Video stream not available.</video>
                            <!-- Buttons -->
                        </div>

                        <!-- Preview -->
                        <div id="previewGroup" style="display: none;">
                            <canvas id="preview"></canvas>
                            <div id="output">
                                <img id="photoTaken" alt="photo will appear here">
                            </div>

                        </div>
                    </div>
                </div>
                <!-- Buttons -->
                <div class="modal-footer">
                    <button id="shutter" class="btn btn-primary">Take photo</button>

                    <button id="confirm" style="display: none" onclick="uploadTakenImage('image_url')" data-dismiss="modal" class="btn btn-primary">Confirm</button>
                    <button id="confirmSmall" style="display: none" onclick="uploadTakenImage('new_image_url')" data-dismiss="modal" class="btn btn-primary">Confirm</button>
                    <button id="retake" style="display: none" class="btn btn-secondary">Retake</button>
                </div>
            </div>
        </div>
    </div>

    <!--  Image Selector Modal  -->
    <div class="modal fade" id="imageSelectorModal" tabindex="-1" role="dialog" aria-labelledby="imageSelectorModalCenterTitle" aria-hidden="true">
        <div class="large-modal-dialog modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="imageSelectorModalLongTitle">Image Selector</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!--   Filter     -->
                    <div id="filter-input-group">
                        <label class="form-label">Filter:</label>
                        <input class="form-control" id="authorFilter" name="authorFilter" onkeyup="filterTiles(authorFilter.value)">
                    </div>

                    <div id="imageTileList"></div>
                </div>
            </div>
        </div>
    </div>


    <!--  Google KG annotation modal  -->
    <div class="modal fade" id="kgModal" tabindex="-1" role="dialog" aria-labelledby="kgModalCenterTitle" aria-hidden="true">
        <div class="large-modal-dialog modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="kgModalLongTitle">Knowledge Graph Annotations</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <img class="w-100" id="annotationImage"/>
                                <canvas id="annotationCanvas">Your browser doesn't support canvases</canvas>
                            </div>
                            <div class="col">
                                <!-- KG searchbar -->
                                <div id="kgSearch" style="display: none;">
                                    <div id='kgSearchWidget'>
                                        <label class="form-label" for="kgSearchInput">Search for: </label>
                                        <input class="form-control" type="text" id="kgSearchInput">
                                    </div>
                                    <div>
                                        <div id="kgResultPanel" style="display: none;">
                                            <h3 id="resultName"></h3>
                                            <h4 id="resultId"></h4>
                                            <div id="resultDescription"></div>
                                            <div>
                                                <a id="resultUrl" target="_blank">
                                                    Link to Webpage
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Buttons -->
                <div class="modal-footer">
                    <button id="addAnnotationButton" class="btn btn-primary" data-dismiss="modal" onclick="saveAnnotation()" disabled>Add annotation</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
