<!DOCTYPE html>
<html>
<head>
    <script src="/socket.io/socket.io.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href="/stylesheets/bootstrap.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.bundle.js"></script>
    <script src="/javascripts/room.js"></script>
    <script src="/javascripts/dashboard.js"></script>
    <script type="module" src="/javascripts/indexed_database.js"></script>
    <script src="/javascripts/canvas.js"></script>
    <script src="/javascripts/camera.js"></script>
    <script src="/javascripts/ajax.js"></script>
    <script type="module" src="/javascripts/utils.js"></script>
</head>
<body onload="init()">
    <div id="initial_form" style="display: block">
        <!--  Banner  -->
        <div class="jumbotron">
            <h1 id="nameTitle" class="display-4">Welcome, </h1>
            <p>Please insert the ID of the room you want to join, if you do not have a room ID, create a new one!</p>
            <button class="btn btn-secondary" onclick="logOut()">Log out</button>
        </div>

        <div class="row">
            <div class="col">
                <!--  Checkbox  -->
                <div id="checkboxContainer">
                    <input type="checkbox" id="box-1" onclick="toggleFormFields()">
                    <label for="box-1" class="form-label">Joining an existing room</label>
                </div>
                <!--    Create/join room form    -->
                <form id="enter-join-form" onsubmit="return false;">
                    <label for="roomNo" class="form-label"> Your room </label>
                    <div class="row mb-3">
                        <div class="col">
                            <input type="text" id="roomNo" name="roomid" class="form-control">
                        </div>
                        <div class="col-auto">
                            <button id="roomNoGenerator" onclick="generateRoom()" class="btn btn-secondary">Generate Room</button>
                        </div>
                    </div>
                    <label for="image_url" class="form-label"> Image (URL) </label>
                    <div class="row mb-3">
                        <div class="col-lg col-sm-12">
                            <input type="text" id="image_url" name="imageUrl" class="form-control">
                        </div>
                        <div class="col-auto text-center">
                            <input id="img_upload" type="file" accept="image/jpeg, image/png" onchange="uploadImg(img_upload.files[0], 'image_url')" style="display: none;">
                            <button id="img_upload_btn" onclick="document.getElementById('img_upload').click()" class="btn btn-secondary">Upload</button>
                        </div>
                        <div class="col-auto text-center">
                            <button id="takePicture" data-toggle="modal" data-target="#cameraModal" onclick="setupCamera(false)" class="btn btn-secondary">Take Picture</button>
                        </div>
                        <div class="col-auto text-center">
                            <button id="pickImage" data-toggle="modal" data-target="#imageSelectorModal" onclick="getMongoImages()" class="btn btn-secondary" disabled>Select from uploaded images</button>
                        </div>
                    </div>

                    <!-- Image title -->
                    <div class="mb-3">
                        <label class="form-label">Image title</label>
                        <input id="img_title" name="imageTitle" class="form-control">
                    </div>

                    <!-- Image description -->
                    <div class="mb-3">
                        <label class="form-label">Image description</label>
                        <textarea id="img_description" name="imageDesc" class="form-control" aria-label="Image description"></textarea>
                    </div>

                    <button id="connect" onclick="sendFormData('enter-join-form')" class="btn btn-primary">Connect</button>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="20" fill="currentColor" class="bi bi-wifi-off" viewBox="0 0 16 16" id="offlineIcon" style="display: none">
                        <path d="M10.706 3.294A12.546 12.546 0 0 0 8 3 12.44 12.44 0 0 0 .663 5.379a.485.485 0 0 0-.048.736.518.518 0 0 0 .668.05A11.448 11.448 0 0 1 8 4c.63 0 1.249.05 1.852.148l.854-.854zM8 6c-1.905 0-3.68.56-5.166 1.526a.48.48 0 0 0-.063.745.525.525 0 0 0 .652.065 8.448 8.448 0 0 1 3.51-1.27L8 6zm2.596 1.404l.785-.785c.63.24 1.228.545 1.785.907a.482.482 0 0 1 .063.745.525.525 0 0 1-.652.065 8.462 8.462 0 0 0-1.98-.932zM8 10l.934-.933a6.454 6.454 0 0 1 2.012.637c.285.145.326.524.1.75l-.015.015a.532.532 0 0 1-.611.09A5.478 5.478 0 0 0 8 10zm4.905-4.905l.747-.747c.59.3 1.153.645 1.685 1.03a.485.485 0 0 1 .048.737.518.518 0 0 1-.668.05 11.496 11.496 0 0 0-1.812-1.07zM9.02 11.78c.238.14.236.464.04.66l-.706.706a.5.5 0 0 1-.708 0l-.707-.707c-.195-.195-.197-.518.04-.66A1.99 1.99 0 0 1 8 11.5c.373 0 .722.102 1.02.28zm4.355-9.905a.53.53 0 1 1 .75.75l-10.75 10.75a.53.53 0 0 1-.75-.75l10.75-10.75z"/>
                    </svg>
                </form>
            </div>
        </div>


        <!--   Room tiles     -->
        <div id="roomTileList" class="row"></div>
    </div>

    <!-- #####################CHAT INTERFACE#################### -->
    <div id="chat_interface" style="display: none;">
        <div>
            <div id="who_you_are" style="display: inline" style="height: 10vh"></div>, you are in room: <div id="in_room" style="display: inline"></div>
            <button id="leave_room" onclick="disconnectFromRoom()" class="btn btn-primary">Leave Room</button>
        </div>


        <div class="container" >
            <div class="row d-flex align-items-stretch">

                <div class="column flex-fill flex-column">
                    <img id="image" style="width: 33%;">
                    <canvas id="canvas"></canvas><br>
                    <div class="row" style="display: inline-flex">
                        <div id='pink-box' class="col-xs-6 col-sm-4 col-md-2 pink square"></div>
                        <div id='blue-box' class="col-xs-6 col-sm-4 col-md-2 blue square"></div>
                        <div id='red-box' class="col-xs-6 col-sm-4 col-md-2 red square"></div>
                        <div id='orange-box' class="col-xs-6 col-sm-4 col-md-2 orange square"></div>
                        <div id='green-box' class="col-xs-6 col-sm-4 col-md-2 green square"></div>
                        <div id='white-box' class="col-xs-6 col-sm-4 col-md-2 white square border"></div>
                        <div id='black-box' class="col-xs-6 col-sm-4 col-md-2 black square"></div>
                        <div id='yellow-box' class="col-xs-6 col-sm-4 col-md-2 yellow square"></div>

                    </div>

                    <br>
                    <button id="download_button" onclick="downloadDrawing()" class="btn btn-secondary">Download</button>
                    <button id="canvas-clear" class="btn btn-secondary">Clear Canvas</button>
                    <br>
                    <div id="smallDropdown" class="dropdown" >
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="create-room-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="fillRoomNo('roomNoDD')">Create room link</button>
                        <div id="smallDropdownMenu" class="dropdown-menu">
                            <button type="button" class="close mr-3" data-toggle="dropdown" data-target="#smallDropdown" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <form id="dropdown-create-room" class="px-4 py-3" onsubmit="return false;">
                                <div class="form-group">
                                    <label for="roomNoDD">Room Name</label>
                                    <input type="text" class="form-control" id="roomNoDD" name="roomid" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="new_image_url">Image Url</label>
                                    <input type="text" class="form-control mb-3" id="new_image_url" name="imageUrl">
                                    <div class="row">
                                        <div class="col-auto">
                                            <button id="takePictureSmall" data-toggle="modal" data-target="#cameraModal" onclick="setupCamera(true)" class="btn btn-secondary">Take Picture</button>
                                        </div>
                                        <div class="col">
                                            <input id="img_upload_small" type="file" accept="image/jpeg, image/png" onchange="uploadImg(img_upload_small.files[0], 'new_image_url')" style="display: none;">
                                            <button onclick="document.getElementById('img_upload_small').click()" class="btn btn-secondary">Upload</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="new_img_title">Image Title</label>
                                    <input type="text" class="form-control" id="new_img_title" name="imageTitle">
                                </div>
                                <div class="form-group">
                                    <label for="new_img_title">Image Description</label>
                                    <textarea type="text" class="form-control" id="new_img_desc" name="imageDesc"></textarea>
                                </div>
                                <button id="create_room_link" onclick="generateRoomLink('dropdown-create-room')" class="btn btn-primary">Generate room link</button>
                            </form>

                        </div>
                    </div>
                </div>

                <div class="column flex-fill flex-column w-50%">
                    <div id="history" class="boxed scrolling " ></div>
                    <div id="input" class=" boxed bottom">
                        <form onsubmit="return false;" style="width: 100%">
                            <p>
                                <label for="chat_input"> chat: </label>
                                <input type="text" id="chat_input" name="chat_input" >
                                <button id="chat_send" onclick="sendChatText(chat_input.value)" class="btn btn-primary">Send</button>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="20" fill="currentColor" class="bi bi-wifi-off" viewBox="0 0 16 16" id="offlineIcon" style="display: none">
                                    <path d="M10.706 3.294A12.546 12.546 0 0 0 8 3 12.44 12.44 0 0 0 .663 5.379a.485.485 0 0 0-.048.736.518.518 0 0 0 .668.05A11.448 11.448 0 0 1 8 4c.63 0 1.249.05 1.852.148l.854-.854zM8 6c-1.905 0-3.68.56-5.166 1.526a.48.48 0 0 0-.063.745.525.525 0 0 0 .652.065 8.448 8.448 0 0 1 3.51-1.27L8 6zm2.596 1.404l.785-.785c.63.24 1.228.545 1.785.907a.482.482 0 0 1 .063.745.525.525 0 0 1-.652.065 8.462 8.462 0 0 0-1.98-.932zM8 10l.934-.933a6.454 6.454 0 0 1 2.012.637c.285.145.326.524.1.75l-.015.015a.532.532 0 0 1-.611.09A5.478 5.478 0 0 0 8 10zm4.905-4.905l.747-.747c.59.3 1.153.645 1.685 1.03a.485.485 0 0 1 .048.737.518.518 0 0 1-.668.05 11.496 11.496 0 0 0-1.812-1.07zM9.02 11.78c.238.14.236.464.04.66l-.706.706a.5.5 0 0 1-.708 0l-.707-.707c-.195-.195-.197-.518.04-.66A1.99 1.99 0 0 1 8 11.5c.373 0 .722.102 1.02.28zm4.355-9.905a.53.53 0 1 1 .75.75l-10.75 10.75a.53.53 0 0 1-.75-.75l10.75-10.75z"/>
                                </svg>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ######################MODALS############################ -->

    <!--  Camera Modal  -->
    <div class="modal fade" id="cameraModal" tabindex="-1" role="dialog" aria-labelledby="cameraModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cameraModalLongTitle">Camera</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeCamera()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- DIV CAMERA -->
                    <div id="cameraInterface" style="display: none" class="mb-3">
                        <!-- Camera -->
                        <div class="camera" >
                            <video id="video">Video stream not available.</video>
                            <!-- Buttons -->
                        </div>

                        <!-- Preview -->
                        <div id="previewGroup" style="display: none;">
                            <canvas id="preview"></canvas>
                            <div id="output">
                                <img id="photoTaken" alt="photo will appear here">
                            </div>

                        </div>
                    </div>
                </div>
                <!-- Buttons -->
                <div class="modal-footer">
                    <button id="shutter" class="btn btn-primary">Take photo</button>

                    <button id="confirm" style="display: none" onclick="uploadTakenImage('image_url')" data-dismiss="modal" class="btn btn-primary">Confirm</button>
                    <button id="confirmSmall" style="display: none" onclick="uploadTakenImage('new_image_url')" data-dismiss="modal" class="btn btn-primary">Confirm</button>
                    <button id="retake" style="display: none" class="btn btn-secondary">Retake</button>
                </div>
            </div>
        </div>
    </div>

    <!--  Image Selector Modal  -->
    <div class="modal fade" id="imageSelectorModal" tabindex="-1" role="dialog" aria-labelledby="imageSelectorModalCenterTitle" aria-hidden="true">
        <div class="large-modal-dialog modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="imageSelectorModalLongTitle">Image Selector</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!--   Filter     -->
                    <div id="filter-input-group">
                        <label class="form-label">Filter:</label>
                        <input class="form-control" id="authorFilter" name="authorFilter" onkeyup="filterTiles(authorFilter.value)">
                    </div>

                    <div id="imageTileList"></div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
