body {
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
    margin: 5px;
    overflow-x: hidden;
}

a {
  color: #00B7FF;
}

.boxed {
  width: 100%;
  padding:10px;
}
.bottom {
  position: absolute;
  bottom: 10px;
  width: 90%;
}
.scrolling {
    overflow-y: scroll;
    overflow-wrap: break-word;
    max-height: 80vh;
    max-width: 30vw;

}
.outsideWrapper{
    width:256px; height:256px;
    margin:20px 60px;
    border:1px solid blue;}
.insideWrapper{
    width:100%; height:100%;
    position:relative;}
.coveredImage{
    width:100%; height:100%;
    position:absolute; top:0px; left:0px;
}
.coveringCanvas{
    width:100%; height:100%;
    position:absolute; top:0px; left:0px;
    background-color: rgba(255,0,0,.1);
}

#cameraInterface{
    width:50%;
    height:50%;
}

/*Login form*/
#login-form{
    margin: 25vh 5vh 0 5vh;
}
/*Login form end*/

/*Checkbox*/
#checkboxContainer{
    margin: 10px 0 10px 10px;
    border: 1px solid #007bff;
    width: fit-content;
    border-radius: 15px;
    padding: 15px;
}
input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
    cursor: pointer;
}

input[type="checkbox"] + label:last-child {
    margin-bottom: 0;
}

input[type="checkbox"] + label:before {
    position: absolute;
    left: 0;
    top: 0;
    opacity: .6;
    content: '';
    border: 2px solid #007bff;
    display: block;
    width: 20px;
    height: 20px;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
    border-radius: 0;
    opacity: 1;
    width: 10px;
    top: -5px;
    left: 5px;
    border-top-color: transparent;
    border-left-color: transparent;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
/*Checkbox end*/

/*Enter-join form*/
#enter-join-form{
    margin: 10px 0 10px 10px;
}
/*Enter-join form end*/

/*Filter input group*/
#filter-input-group{
    width: 50vw;
    margin: 10px;
}
/*Filter input group end*/

/*Tiles basic styling*/
.tile{
    cursor: pointer;
    padding: 10px;
    transition: 0.5s;
}
.tile:hover {
    transition: 0.5s;
    background-color: #062c33;
    color: white;
}
/*Tiles basic styling end*/


.square{
    cursor: pointer;
    height: 30px;
    width: 30px;
    margin:5px;
    transition: 0.3s;
}

.square:hover {
    transition: 0.3s;
    transform: scale(1.2);
}
.pink {
    background-color:pink ;
}
.red {
    background-color:red ;
}
.blue {
    background-color: blue ;
}
.green {
    background-color: green;
}
.orange {
    background-color: orange;
}
.white {
    background-color: white;
}
.yellow {
    background-color: yellow;
}
.black {
    background-color: black;
}

@media (min-width: 576px){
    .large-modal-dialog {
        max-width: 90% !important;
    }
}

